body{
margin: 0;
}

.button--enviar{
    color: blueviolet;
    width: 100px;
    height: 50px;
}



@media screen and (min-width: 780px) and (max-width: 1440px) {
    .titulo-1{

color: blue;
    }
    cursor: pointer;
    
}