

@media (max-width: 780px) {
body{
  margin: 0px;
  padding: 0px;
  width: 275px;
  background: linear-gradient(90deg, red, blue, blue, blue)
}

header img{
  width: 100%;
  

}

.servicios img{
  width: 100%;
  
}

.lomasvisto img{
  width: 100%;
 
}


header{
  width: 100%;

}

.title{
  width: 100%;
  
}


main{
  width: 100%; 

}


} 
 


body{
  margin: 0;
  padding: 20px;
  text-align: center; font:150 20px/1.7 'Roboto Condensed';
  color: #fff;
  background: linear-gradient(45deg, red, blue, black, black);
  background-size: 400% 400%;
  position: relative;
}


.title{
  color: red;
  background: linear-gradient(45deg, red, blue, black, green);
}
.formulario{
  color: red;
  background: linear-gradient(45deg, red, blue, black, green);
}

.sesion{
  color: red;
  background: linear-gradient(45deg, red, blue, black, green);
}

.color{
  color: aliceblue;
}

.usuario {
  color: chartreuse;
}

.contraseña{
  color: chartreuse;
}

.Nombre{
  color: chartreuse;
}

.Apellido{
  color: chartreuse;
}

.Numero{
  color: chartreuse;
}

.Email{
  color: chartreuse;
}
.Peticion{
  color: green;
}

.Numero{
  margin-right: 8px;
}

.Email{
  margin-right: 17px;
}

header img{
  background: linear-gradient(45deg, red, blue, black, blue);
justify-content: center;
height: 500px;


}

servicios img{
  
  justify-content: center;
  height: 500px;
 
  background: linear-gradient(45deg, red, blue, black, blue);

 
}
  
.lomasvisto img{
  justify-content: center;
  height: 500px;

background: linear-gradient(45deg, red, blue, black, blue);

}