
    body { text-align: center; font:300 20px/1.7 'Roboto Condensed';}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: linear-gradient(45deg, red, blue, black, black);
  background-size: 400% 400%;
  position: relative;
}

header img{
  height: 400px;
  width: 1150px;
}

.servicios img{
  height: 400px;
  width: 1150px;
}

.lomasvisto img{
  height: 400px;
  width: 1150px;
}

.title{
  color: red
}

.color{
  color: aliceblue;
}

.usuario {
  color: chartreuse;
}

.contraseña{
  color: chartreuse;
}

.Nombre{
  color: chartreuse;
}

.Apellido{
  color: chartreuse;
}

.Numero{
  color: chartreuse;
}

.Email{
  color: chartreuse;
}
.Sugerencias{
  color: blue;
}

